*{
    box-sizing: border-box;
}
body{
    background-image: url(imagens/back2.jpg);
}
ul{
    position: relative;
    background-color: #000000;
    margin: 0px;
    padding: 5px;
    border-radius: 10px;
    color: black;
}
ul li {
    display: inline-block;
    
}
ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 15px;
    display: block;
    background-color: rgb(0, 0, 0);
}
ul li:hover{
    background-color: #0000008e;
    
}
ul ul{
    position: absolute;
    min-width: 200px;
    display: none;
    background-color: lightgrey;
    
}
ul ul li{
    display: block;
    background-color: #ffffff00;
    color: black;

}
ul li:hover ul{
    display: block;
    color: black;
}
header{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 15px ;
    border: solid white;
}
nav{
    background-color:black;
    text-align: center;
    width: 30%;
    float: left;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 10px;
    
}
.itenscabeca{
    background-color: royalblue;
    padding: 13px;
    margin: 15px;
    border: 1px solid white;
}
article{
    float: left;
    width: 100%;
    background-color:;
    color: #ffffff;
    padding: 15px;
    padding-bottom:;
    border-radius: 10px;
    border: 1px solid white;
    margin: 10px 3px;
    text-align:justify;
}
article h2{
    text-align: center;
}
